.opciones{
    text-align: center;
    height: 260px;
    display: table;
}
    
.ofertas{
    line-height: 40pt;
    display: table-cell;
    vertical-align: middle;
}
.porcentaje{
    font-size: 20px;
    font-weight: bolder;
}
.venta{
    text-align: center;
    font-weight:1px;
}
.titulo{
    text-align: center;
    font-size: 40px;
}
.form-control{
    height: 50px;
    border-radius: 10px;   
}
.total{
    display: table;
    background-color: rgb(151, 238, 241);
    border-radius: 12px;
    height: 50px;
}
p#azul{
    display: table-cell;
    vertical-align: middle;
    color: blue;  
    padding: 12px;
}
.verde{
    height:50px ;
    background-color: #94f049;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: none;
}
.itemsFooters{
    list-style-type: none;
    color: white;
    font-size: smaller;
    text-align: center; 
}
footer{
    display: flex;
    align-items: center;   
}